* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Nunito';
}

a:link {
    color: #016FB9;
    text-decoration: none;
}

a:visited {
    color: #016FB9;
    text-decoration: none;
}

a:hover {
    color: #D3D3D3;
    text-decoration: none;
    border-bottom: 5px solid #016FB9;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 1em 0;
}

h2 {
    margin: 0;
    padding: 0 0 1em 0;
}

.social {
    color: #016FB9;
    font-size: 2em;
    margin: 1em;
}

.copyright {
    font-size: 0.75em;
}

.copyright i {
    color: #D3D3D3; 
}

i {
    color: #016FB9;
    padding: 0 0.25em;
}

a:hover i {
    color: #D3D3D3;
    text-decoration: none;
}

.container {
    height:100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
}

svg {
    margin: 3em auto;
    display: none;
}

.leftPanel {
    background-image: url(../images/desk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    flex: 1;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.rightPanel {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .leftPanel {
        display: none;
    }
    svg {
        display: block;
    }
}